* {
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');
body {
    background-color:  rgb(0, 0, 0);
    font-family: 'Markazi Text', serif;
    font-weight: normal;
    background-color: #ffd000b0;
}

#IMG1 {
    max-width: 8%;
    position: absolute;
    margin-left: 90%; 
}
header{
    width: 100%;
    background-color: rgba(5,1,0,255);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0%;
    position: absolute;
    background-color: #000000;
    }
    
    header img{
        transition: 0.5s;
        margin-right: 5%;
        padding-bottom: 20px;
    }

    header img:hover {
        color: #ffffff;
        transform: translate(0px,-5px);
    }
    
    nav{
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:40px;
        margin-top: 20px;
        margin: 0% 25% 0% 0%;
    }
    
    nav a{
        text-decoration: none;
        color: #ffffff;
        font-weight: lighter;
        font-size:2em;
        display: inline-block;
        position: relative;
        padding-bottom: 5px;
    }
      
    nav a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFD100;
        transform-origin: bottom right;
        transition: transform 0.30s ease-out;
        
    }
      
    nav a:hover::after {
        text-decoration-color: #FFD100;
        transform: scaleX(1);
        transform-origin: bottom right;
    }

    #lang {
        width: 40px;
    }

.dropbtn {
    width: 80px;
    background-color: #000000;
    color: rgb(38, 35, 35);
    padding: 12px;
    padding-bottom: 40px;
    margin-bottom: 2%;
    font-size: 1.4em;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    color: white;
    text-align: center;
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 80px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown:hover .dropdown-content {display: block; text-decoration-color: #FFD100;}

  .dropdown:hover .dropbtn {background-color: rgb(0, 0, 0); color: #000000;} 
    
    .button {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
        margin-right: 8%;
        padding-bottom: 10px;
    }

    button {
        font-weight: 900;
        width: 140px;
        height: 50px;
        border: 3px solid #000000;
        border-radius: 25px;
        transition: all 0.3s;
        cursor: pointer;
        background: rgb(255, 255, 255);
        font-size: 1.3em;
        font-weight: 550;
        color: #000000;
      }
      
      button:hover {
        background: #000000;
        color: white;
      }

      #button {
        width: 140px;
        height: 50px;
        border: 3px solid #000000;
        border-radius: 25px;
        transition: all 0.3s;
        cursor: pointer;
        background: rgb(0, 0, 0);
        font-size: 1.2em;
        font-weight: normal;
        color: rgb(255, 255, 255);
      }
      
      #button:hover {
        background: #000000;
        color: white;
      }

.image {
    position: relative;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

.image img{
    filter: brightness(40%);
    content: "";
    position: relative;
    width: 100%;
}

.image h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    right: 7%;
    top: 10%;
    font-weight: lighter;
    font-size: 5em;
    line-height: 54px;
}

.image p {
    color: #ffffff;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 1200px;
    right: 7%;
    top: 25%;
    font-size: 2em;
    line-height: 54px;
}

.image2 {
    position: relative;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
}

.image2 img{
    filter: brightness(40%);
    content: "";
    position: relative;
    width: 100%;
}

.image2 h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    right: 7%;
    top: 9%;
    font-weight: lighter;
    font-size: 5em;
    line-height: 54px;
}

.image2 p {
    color: #ffffff;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 1100px;
    right: 7%;
    top: 23%;
    font-size: 3em;
    line-height: 54px;
}

.image1 {
    position: relative;
    text-align: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.image1 img{
    filter: brightness(40%);
    content: "";
    position: relative;
    width: 100%;
}

.image1 h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    right: 7%;
    top: 10%;
    font-weight: lighter;
    font-size: 5em;
    line-height: 54px;
}

.image1 p {
    color: #ffffff;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 500px;
    right: 7%;
    top: 25%;
    font-size: 2.2em;
    line-height: 54px;
}

#h2 {
    text-align: right;
    color: #ffffff;
    content: "";
    position: absolute;
    width: 100%;
    height: auto;
    right: 55%;
    top: 10%;
    font-weight: lighter;
    font-size: 5em;
    line-height: 54px;
}

#p {
    color: #ffffff;
    font-weight: lighter;
    text-align: right;
    content: "";
    position: absolute;
    width: 500px;
    right: 55%;
    top: 25%;
    font-size: 2.2em;
    line-height: 54px;
}

footer{
    background-color:#000;
    padding:10px 0px;
    text-align:center;
    max-width: 100%;
    top: 10px;
    height: 200px;
    position: relative;
  }    
  
  .img {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  }

  footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
  }
    
  footer .row a{
  text-decoration:none;
  color:rgb(169, 157, 157);
  transition:0.5s;
  font-size: 0.75em;  }

  footer .row a:hover{
  color:#fff;
  }
    
  footer .row ul{
  width:100%;
  }
    
  footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
    
  footer .row a i{
  font-size:4em;
  margin:0% 1%;
  }
    

  footer{
  text-align:center;

  }
  footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  font-size: 3em;
  }
  footer .row a i{
    margin:0% 3%;
    font-size: 3em;
  }

  .socialContainer {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  /* twitter*/
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  /* linkdin*/
  .containerThree:hover {
    background-color: #0072b1;
    transition-duration: .3s;
  }
  /* Whatsapp*/
  .containerFour:hover {
    background-color: #128C7E;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  
  .socialContainer:hover .socialSvg {
    animation: slide-in-top 0.3s both;
  }
  
  @keyframes slide-in-top {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
  
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }