* {
    margin: 0;
    padding: 0;
}

body {
    background-color:  #000000c2;
    font-family: 'Markazi Text', serif;
    font-weight: normal;
}

header{
    width: 100%;
    background-color: rgba(5,1,0,255);
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0%;
    position: absolute;
    background-color: #000000;
    }
    
    header img{
        transition: 0.5s;
        padding-bottom: 10px;
        max-width: 8%;
        position: absolute;
        margin-left: 85%; 
    }

    header img:hover {
        color: #ffffff;
        transform: translate(0px,-5px);
    }
    
    nav{
        font-weight: bolder;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap:40px;
        margin-top: 20px;
        margin: 0% 0% 0% 0%;
    }
    
    nav a{
        text-decoration: none;
        color: #ffffff;
        font-weight: lighter;
        font-size:2em;
        display: inline-block;
        position: relative;
        padding-bottom: 5px;
    }
      
    nav a::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #FFD100;
        transform-origin: bottom right;
        transition: transform 0.30s ease-out;
        
    }
      
    nav a:hover::after {
        text-decoration-color: #FFD100;
        transform: scaleX(1);
        transform-origin: bottom right;
    }

    section {
        padding-top: 200px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .card {
        width: 300px;
        height: 400px;
        border-radius: 50px;
        background-color: #000000;
        padding: 2rem 1.5rem;
        transition: box-shadow .3s ease, transform .2s ease;
       }
       
       .card-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: transform .2s ease, opacity .2s ease;
       }
       
       /*Image*/
       .card-avatar {
        --size: 260px;
        background: linear-gradient(to top, #FFD100 0%, #ffb700 100%);
        width: var(--size);
        height: var(--size);
        border-radius: 60%;
        transition: transform .2s ease;
        margin-bottom: 4rem;
       }

       .card-avatar img {
        margin-top: 2rem;
        margin-left: 1.5rem;
       }
       
       /*Text*/
       .card-title {
        color: #ffffff;
        font-size: 3em;
        font-weight: 600;
        line-height: 2rem;
       }
       
       .card-subtitle {
        color: #859ba8;
        font-size: 0.8em;
       }
       
       /*Hover*/
       .card:hover {
        box-shadow: 0 8px 60px #FFD100;
       }

       .card-avatar:hover {
        transform: scale(1.050);
       }

       #card1 {
        margin-left: 40px;
       }

       #card2 {
        margin-left: 40px;
        margin-top: 40px;
       }

       a:hover {
        text-decoration: none;
       }
       a {
        text-decoration: none;
       }